<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart.length }})</div>
      <product-display :premium="premium" @add-to-cart="updateCart"></product-display>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <!-- Import Components -->
    <script src="./components/ProductDisplay.js"></script>
    <script src="./components/ReviewForm.js"></script>
    <script src="./components/ReviewList.js"></script>
    <!-- Mount App -->
    <script>
       const mountedapp = app.mount('#app')
    </script>
  </body>
</html>



            <!--Lesson 4
            <p v-show="inStock">Is it really in stock?</p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory < 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <p v-if="onSale">Product is On Sale!!</p>
            <p v-else>Product is not on sale.</p>-->

            <!-- Lesson 5
            <div v-for="variant in variants" :key="variant.id"><h2>{{ variant.color }}</h2>
                <div v-for="size in sizes">{{size}}</div>
            </div>
            -->

            <!-- Lesson 6
            <button class="button" v-on:click="cart -= 1">Remove Cart</button>
            <button class="button" v-on:click="cart = 0">Reset Cart</button>
            -->

            <!-- Lesson 7
              <img v-bind:src="image" :class=" {disabledButton: !inStock}">
            -->

            <!-- Lesson 8
                <p v-if="onSale">{{saleTag}}</p>
            -->